.idea/git_toolbox_prj.xml
.idea/KubeJS Test Instance.iml
.idea/modules.xml
.idea/vcs.xml
config/fml.toml
config/forge-client.toml
config/forge-common.toml
config/jei-client.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/supplementaries-registry.toml
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/openloader/advanced_options.json
saves/New World/icon.png
saves/New World/kubejs_persistent_data.nbt
saves/New World/level.dat
saves/New World/level.dat_old
saves/New World/session.lock
saves/New World/DIM-1/data/capabilities.dat
saves/New World/DIM-1/data/raids.dat
saves/New World/DIM1/data/capabilities.dat
saves/New World/DIM1/data/raids_end.dat
saves/New World/advancements/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World/data/capabilities.dat
saves/New World/data/raids.dat
saves/New World/entities/r.-1.-1.mca
saves/New World/entities/r.-1.0.mca
saves/New World/entities/r.0.-1.mca
saves/New World/entities/r.0.0.mca
saves/New World/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat
saves/New World/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat_old
saves/New World/poi/r.-1.-1.mca
saves/New World/poi/r.-1.0.mca
saves/New World/poi/r.0.-1.mca
saves/New World/poi/r.0.0.mca
saves/New World/region/r.-1.-1.mca
saves/New World/region/r.-1.0.mca
saves/New World/region/r.0.-1.mca
saves/New World/region/r.0.0.mca
saves/New World/serverconfig/forge-server.toml
saves/New World/serverconfig/jei-server.toml
saves/New World/stats/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
minecraftinstance.json
options.txt
realms_persistence.json
usernamecache.json
usercache.json
.curseclient
mods/*
crash-reports/crash-2022-04-14_22.30.49-fml.txt
crash-reports/crash-2022-04-14_22.32.57-fml.txt
logs/*.gz
mods/architectury-4.2.49.jar
mods/hexcasting-0.7.1.jar
mods/kotlinforforge-3.2.0-obf.jar
mods/Patchouli-1.18.2-67.jar
mods/paucal-1.18.2-0.3.4.jar
patchouli_data.json
saves/New World/data/hex.per-world-patterns.dat
screenshots/2022-04-17_11.32.15.png
kubejs/startup_scripts/script.js
mods/create-mc1.18.2_v0.4.1.jar
mods/flywheel-forge-1.18-0.6.2.jar
mods/kubejs-create-1802.2.1-build.16.jar
mods/kubejs-forge-1802.5.1-build.340.jar
mods/ponderjs-1.18.1-1.0.4a.jar
mods/probejs-2.6.5-forge.jar
resourcepacks/Copper Legacy Pack.zip
saves/New World/serverconfig/create-server.toml
schematics/birb.nbt
schematics/sheep.nbt
schematics/uploaded/amoooooooooo/birb.nbt
schematics/uploaded/amoooooooooo/sheep.nbt
crash-reports/crash-2022-04-18_00.23.48-client.txt
config/create-client.toml
config/create-common.toml
config/flywheel-client.toml
config/patchouli-client-1.toml.bak
config/patchouli-client-2.toml.bak
config/patchouli-client-3.toml.bak
config/patchouli-client-4.toml.bak
config/patchouli-client-5.toml.bak
config/ponderjs-client.toml
config/openloader/data/tc_remake.zip
config/openloader/data/tc_remake/pack.mcmeta
config/openloader/data/tc_remake/data/selene/soft_fluids/perditio.json
logs/
crash-reports/crash-2022-04-23_00.48.50-fml.txt
crash-reports/crash-2022-04-23_00.52.10-fml.txt
crash-reports/crash-2022-05-04_21.20.20-client.txt
crash-reports/crash-2022-05-04_21.25.23-client.txt
crash-reports/crash-2022-05-05_14.20.58-client.txt
crash-reports/crash-2022-05-05_14.23.46-client.txt
crash-reports/crash-2022-05-05_14.31.27-client.txt
crash-reports/crash-2022-05-05_14.37.57-client.txt
crash-reports/crash-2022-05-05_20.33.57-client.txt
crash-reports/crash-2022-05-05_20.38.00-client.txt
crash-reports/crash-2022-05-05_21.17.14-client.txt
crash-reports/crash-2022-05-06_15.29.51-client.txt
crash-reports/crash-2022-05-06_21.57.04-client.txt
crash-reports/crash-2022-05-06_22.01.27-client.txt
crash-reports/crash-2022-05-06_22.21.07-client.txt
crash-reports/crash-2022-05-06_22.23.02-client.txt
crash-reports/crash-2022-05-07_13.27.49-client.txt
crash-reports/crash-2022-05-08_12.54.35-fml.txt
saves/New World/DIM-1/data/crafttweaker_saved_data.dat
saves/New World/DIM1/data/crafttweaker_saved_data.dat
saves/New World/data/crafttweaker_saved_data.dat
saves/New World/serverconfig/hexcasting-server.toml
saves/New World (10)/icon.png
saves/New World (10)/kubejs_persistent_data.nbt
saves/New World (10)/level.dat
saves/New World (10)/level.dat_old
saves/New World (10)/session.lock
saves/New World (10)/DIM-1/data/capabilities.dat
saves/New World (10)/DIM-1/data/crafttweaker_saved_data.dat
saves/New World (10)/DIM-1/data/raids.dat
saves/New World (10)/DIM1/data/capabilities.dat
saves/New World (10)/DIM1/data/crafttweaker_saved_data.dat
saves/New World (10)/DIM1/data/raids_end.dat
saves/New World (10)/advancements/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (10)/data/capabilities.dat
saves/New World (10)/data/crafttweaker_saved_data.dat
saves/New World (10)/data/raids.dat
saves/New World (10)/dimensions/ae2/spatial_storage/data/capabilities.dat
saves/New World (10)/dimensions/ae2/spatial_storage/data/crafttweaker_saved_data.dat
saves/New World (10)/dimensions/ae2/spatial_storage/data/raids.dat
saves/New World (10)/dimensions/tckjs/depths/data/capabilities.dat
saves/New World (10)/dimensions/tckjs/depths/data/crafttweaker_saved_data.dat
saves/New World (10)/dimensions/tckjs/depths/data/raids.dat
saves/New World (10)/dimensions/tckjs/depths/entities/r.-1.-1.mca
saves/New World (10)/dimensions/tckjs/depths/entities/r.-1.0.mca
saves/New World (10)/dimensions/tckjs/depths/entities/r.0.-1.mca
saves/New World (10)/dimensions/tckjs/depths/entities/r.0.0.mca
saves/New World (10)/dimensions/tckjs/depths/poi/r.-1.-1.mca
saves/New World (10)/dimensions/tckjs/depths/poi/r.-1.0.mca
saves/New World (10)/dimensions/tckjs/depths/poi/r.0.-1.mca
saves/New World (10)/dimensions/tckjs/depths/poi/r.0.0.mca
saves/New World (10)/dimensions/tckjs/depths/region/r.-1.-1.mca
saves/New World (10)/dimensions/tckjs/depths/region/r.-1.0.mca
saves/New World (10)/dimensions/tckjs/depths/region/r.0.-1.mca
saves/New World (10)/dimensions/tckjs/depths/region/r.0.0.mca
saves/New World (10)/entities/r.-1.-1.mca
saves/New World (10)/entities/r.-1.0.mca
saves/New World (10)/entities/r.0.-1.mca
saves/New World (10)/entities/r.0.0.mca
saves/New World (10)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat
saves/New World (10)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat_old
saves/New World (10)/poi/r.-1.-1.mca
saves/New World (10)/poi/r.-1.0.mca
saves/New World (10)/poi/r.0.-1.mca
saves/New World (10)/poi/r.0.0.mca
saves/New World (10)/region/r.-1.-1.mca
saves/New World (10)/region/r.-1.0.mca
saves/New World (10)/region/r.0.-1.mca
saves/New World (10)/region/r.0.0.mca
saves/New World (10)/serverconfig/create-server.toml
saves/New World (10)/serverconfig/forge-server.toml
saves/New World (10)/serverconfig/hexcasting-server.toml
saves/New World (10)/stats/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (11)/icon.png
saves/New World (11)/kubejs_persistent_data.nbt
saves/New World (11)/level.dat
saves/New World (11)/level.dat_old
saves/New World (11)/session.lock
saves/New World (11)/DIM-1/data/capabilities.dat
saves/New World (11)/DIM-1/data/crafttweaker_saved_data.dat
saves/New World (11)/DIM-1/data/raids.dat
saves/New World (11)/DIM1/data/capabilities.dat
saves/New World (11)/DIM1/data/crafttweaker_saved_data.dat
saves/New World (11)/DIM1/data/raids_end.dat
saves/New World (11)/advancements/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (11)/data/ae2_compass_0_0.dat
saves/New World (11)/data/capabilities.dat
saves/New World (11)/data/crafttweaker_saved_data.dat
saves/New World (11)/data/raids.dat
saves/New World (11)/dimensions/ae2/spatial_storage/data/capabilities.dat
saves/New World (11)/dimensions/ae2/spatial_storage/data/crafttweaker_saved_data.dat
saves/New World (11)/dimensions/ae2/spatial_storage/data/raids.dat
saves/New World (11)/dimensions/tckjs/depths/data/capabilities.dat
saves/New World (11)/dimensions/tckjs/depths/data/crafttweaker_saved_data.dat
saves/New World (11)/dimensions/tckjs/depths/data/raids.dat
saves/New World (11)/dimensions/tckjs/depths/entities/r.-1.-1.mca
saves/New World (11)/dimensions/tckjs/depths/entities/r.-1.-3.mca
saves/New World (11)/dimensions/tckjs/depths/entities/r.-1.0.mca
saves/New World (11)/dimensions/tckjs/depths/entities/r.0.-1.mca
saves/New World (11)/dimensions/tckjs/depths/entities/r.0.0.mca
saves/New World (11)/dimensions/tckjs/depths/poi/r.-1.-1.mca
saves/New World (11)/dimensions/tckjs/depths/poi/r.-1.0.mca
saves/New World (11)/dimensions/tckjs/depths/poi/r.0.-1.mca
saves/New World (11)/dimensions/tckjs/depths/poi/r.0.0.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-1.-1.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-1.-2.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-1.-3.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-1.0.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-2.-2.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.-2.-3.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.0.-1.mca
saves/New World (11)/dimensions/tckjs/depths/region/r.0.0.mca
saves/New World (11)/entities/r.-1.-1.mca
saves/New World (11)/entities/r.-1.-2.mca
saves/New World (11)/entities/r.-1.-3.mca
saves/New World (11)/entities/r.-1.0.mca
saves/New World (11)/entities/r.-2.-2.mca
saves/New World (11)/entities/r.-2.-3.mca
saves/New World (11)/entities/r.0.-1.mca
saves/New World (11)/entities/r.0.-2.mca
saves/New World (11)/entities/r.0.0.mca
saves/New World (11)/entities/r.1.-1.mca
saves/New World (11)/entities/r.1.-2.mca
saves/New World (11)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat
saves/New World (11)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat_old
saves/New World (11)/poi/r.-1.-1.mca
saves/New World (11)/poi/r.-1.-2.mca
saves/New World (11)/poi/r.-1.-3.mca
saves/New World (11)/poi/r.-1.-4.mca
saves/New World (11)/poi/r.-1.0.mca
saves/New World (11)/poi/r.-2.-2.mca
saves/New World (11)/poi/r.-2.-3.mca
saves/New World (11)/poi/r.0.-1.mca
saves/New World (11)/poi/r.0.-2.mca
saves/New World (11)/poi/r.0.0.mca
saves/New World (11)/poi/r.1.-1.mca
saves/New World (11)/poi/r.1.-2.mca
saves/New World (11)/poi/r.1.0.mca
saves/New World (11)/region/r.-1.-1.mca
saves/New World (11)/region/r.-1.-2.mca
saves/New World (11)/region/r.-1.-3.mca
saves/New World (11)/region/r.-1.-4.mca
saves/New World (11)/region/r.-1.-5.mca
saves/New World (11)/region/r.-1.0.mca
saves/New World (11)/region/r.-2.-2.mca
saves/New World (11)/region/r.-2.-3.mca
saves/New World (11)/region/r.-2.-4.mca
saves/New World (11)/region/r.-2.-5.mca
saves/New World (11)/region/r.-3.-1.mca
saves/New World (11)/region/r.-4.-3.mca
saves/New World (11)/region/r.0.-1.mca
saves/New World (11)/region/r.0.-2.mca
saves/New World (11)/region/r.0.-3.mca
saves/New World (11)/region/r.0.-4.mca
saves/New World (11)/region/r.0.0.mca
saves/New World (11)/region/r.1.-1.mca
saves/New World (11)/region/r.1.-2.mca
saves/New World (11)/region/r.1.-3.mca
saves/New World (11)/region/r.1.0.mca
saves/New World (11)/serverconfig/create-server.toml
saves/New World (11)/serverconfig/forge-server.toml
saves/New World (11)/serverconfig/hexcasting-server.toml
saves/New World (11)/stats/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (2)/icon.png
saves/New World (2)/kubejs_persistent_data.nbt
saves/New World (2)/level.dat
saves/New World (2)/level.dat_old
saves/New World (2)/session.lock
saves/New World (2)/DIM-1/data/capabilities.dat
saves/New World (2)/DIM-1/data/crafttweaker_saved_data.dat
saves/New World (2)/DIM-1/data/raids.dat
saves/New World (2)/DIM1/data/capabilities.dat
saves/New World (2)/DIM1/data/crafttweaker_saved_data.dat
saves/New World (2)/DIM1/data/raids_end.dat
saves/New World (2)/advancements/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (2)/data/capabilities.dat
saves/New World (2)/data/crafttweaker_saved_data.dat
saves/New World (2)/data/raids.dat
saves/New World (2)/dimensions/ae2/spatial_storage/data/capabilities.dat
saves/New World (2)/dimensions/ae2/spatial_storage/data/crafttweaker_saved_data.dat
saves/New World (2)/dimensions/ae2/spatial_storage/data/raids.dat
saves/New World (2)/dimensions/tckjs/depths/data/capabilities.dat
saves/New World (2)/dimensions/tckjs/depths/data/crafttweaker_saved_data.dat
saves/New World (2)/dimensions/tckjs/depths/data/raids_end.dat
saves/New World (2)/entities/r.-1.-1.mca
saves/New World (2)/entities/r.-1.0.mca
saves/New World (2)/entities/r.0.-1.mca
saves/New World (2)/entities/r.0.0.mca
saves/New World (2)/entities/r.1.-4.mca
saves/New World (2)/entities/r.1.-5.mca
saves/New World (2)/entities/r.2.-4.mca
saves/New World (2)/entities/r.2.-5.mca
saves/New World (2)/entities/r.2.-8.mca
saves/New World (2)/entities/r.3.-6.mca
saves/New World (2)/entities/r.3.-8.mca
saves/New World (2)/entities/r.4.-8.mca
saves/New World (2)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat
saves/New World (2)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat_old
saves/New World (2)/poi/r.-1.-1.mca
saves/New World (2)/poi/r.-1.0.mca
saves/New World (2)/poi/r.-2.0.mca
saves/New World (2)/poi/r.0.-1.mca
saves/New World (2)/poi/r.0.0.mca
saves/New World (2)/poi/r.1.-4.mca
saves/New World (2)/poi/r.1.-5.mca
saves/New World (2)/poi/r.2.-4.mca
saves/New World (2)/poi/r.2.-5.mca
saves/New World (2)/poi/r.2.-8.mca
saves/New World (2)/poi/r.2.-9.mca
saves/New World (2)/poi/r.3.-4.mca
saves/New World (2)/poi/r.3.-5.mca
saves/New World (2)/poi/r.3.-6.mca
saves/New World (2)/poi/r.3.-7.mca
saves/New World (2)/poi/r.3.-8.mca
saves/New World (2)/poi/r.3.-9.mca
saves/New World (2)/poi/r.4.-8.mca
saves/New World (2)/poi/r.4.-9.mca
saves/New World (2)/poi/r.5.-8.mca
saves/New World (2)/poi/r.5.-9.mca
saves/New World (2)/region/r.-1.-1.mca
saves/New World (2)/region/r.-1.-2.mca
saves/New World (2)/region/r.-1.-3.mca
saves/New World (2)/region/r.-1.0.mca
saves/New World (2)/region/r.-1.1.mca
saves/New World (2)/region/r.-2.-1.mca
saves/New World (2)/region/r.-2.-2.mca
saves/New World (2)/region/r.-2.0.mca
saves/New World (2)/region/r.-2.1.mca
saves/New World (2)/region/r.0.-1.mca
saves/New World (2)/region/r.0.-2.mca
saves/New World (2)/region/r.0.-3.mca
saves/New World (2)/region/r.0.0.mca
saves/New World (2)/region/r.0.1.mca
saves/New World (2)/region/r.0.2.mca
saves/New World (2)/region/r.1.-1.mca
saves/New World (2)/region/r.1.-3.mca
saves/New World (2)/region/r.1.-4.mca
saves/New World (2)/region/r.1.-5.mca
saves/New World (2)/region/r.1.-8.mca
saves/New World (2)/region/r.1.-9.mca
saves/New World (2)/region/r.1.0.mca
saves/New World (2)/region/r.1.1.mca
saves/New World (2)/region/r.1.2.mca
saves/New World (2)/region/r.2.-1.mca
saves/New World (2)/region/r.2.-4.mca
saves/New World (2)/region/r.2.-5.mca
saves/New World (2)/region/r.2.-8.mca
saves/New World (2)/region/r.2.-9.mca
saves/New World (2)/region/r.2.0.mca
saves/New World (2)/region/r.3.-4.mca
saves/New World (2)/region/r.3.-5.mca
saves/New World (2)/region/r.3.-6.mca
saves/New World (2)/region/r.3.-7.mca
saves/New World (2)/region/r.3.-8.mca
saves/New World (2)/region/r.3.-9.mca
saves/New World (2)/region/r.4.-8.mca
saves/New World (2)/region/r.4.-9.mca
saves/New World (2)/region/r.5.-8.mca
saves/New World (2)/region/r.5.-9.mca
saves/New World (2)/serverconfig/create-server.toml
saves/New World (2)/serverconfig/forge-server.toml
saves/New World (2)/serverconfig/hexcasting-server.toml
saves/New World (2)/serverconfig/jei-server.toml
saves/New World (2)/stats/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (3)/session.lock
saves/New World (4)/icon.png
saves/New World (4)/kubejs_persistent_data.nbt
saves/New World (4)/level.dat
saves/New World (4)/level.dat_old
saves/New World (4)/session.lock
saves/New World (4)/DIM-1/data/capabilities.dat
saves/New World (4)/DIM-1/data/crafttweaker_saved_data.dat
saves/New World (4)/DIM-1/data/raids.dat
saves/New World (4)/DIM1/data/capabilities.dat
saves/New World (4)/DIM1/data/crafttweaker_saved_data.dat
saves/New World (4)/DIM1/data/raids_end.dat
saves/New World (4)/advancements/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (4)/data/capabilities.dat
saves/New World (4)/data/crafttweaker_saved_data.dat
saves/New World (4)/data/raids.dat
saves/New World (4)/dimensions/ae2/spatial_storage/data/capabilities.dat
saves/New World (4)/dimensions/ae2/spatial_storage/data/crafttweaker_saved_data.dat
saves/New World (4)/dimensions/ae2/spatial_storage/data/raids.dat
saves/New World (4)/dimensions/tckjs/depths/data/capabilities.dat
saves/New World (4)/dimensions/tckjs/depths/data/crafttweaker_saved_data.dat
saves/New World (4)/dimensions/tckjs/depths/data/raids_end.dat
saves/New World (4)/dimensions/tckjs/depths/entities/r.-1.-1.mca
saves/New World (4)/dimensions/tckjs/depths/entities/r.-1.0.mca
saves/New World (4)/dimensions/tckjs/depths/entities/r.0.-1.mca
saves/New World (4)/dimensions/tckjs/depths/entities/r.0.0.mca
saves/New World (4)/dimensions/tckjs/depths/region/r.-1.-1.mca
saves/New World (4)/dimensions/tckjs/depths/region/r.-1.0.mca
saves/New World (4)/dimensions/tckjs/depths/region/r.0.-1.mca
saves/New World (4)/dimensions/tckjs/depths/region/r.0.0.mca
saves/New World (4)/entities/r.-1.-1.mca
saves/New World (4)/entities/r.-1.0.mca
saves/New World (4)/entities/r.0.-1.mca
saves/New World (4)/entities/r.0.0.mca
saves/New World (4)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat
saves/New World (4)/playerdata/9df6acb3-6618-474a-a2b0-e2e74748ae05.dat_old
saves/New World (4)/poi/r.-1.-1.mca
saves/New World (4)/poi/r.-1.0.mca
saves/New World (4)/poi/r.0.-1.mca
saves/New World (4)/poi/r.0.0.mca
saves/New World (4)/region/r.-1.-1.mca
saves/New World (4)/region/r.-1.0.mca
saves/New World (4)/region/r.0.-1.mca
saves/New World (4)/region/r.0.0.mca
saves/New World (4)/serverconfig/create-server.toml
saves/New World (4)/serverconfig/forge-server.toml
saves/New World (4)/serverconfig/hexcasting-server.toml
saves/New World (4)/stats/9df6acb3-6618-474a-a2b0-e2e74748ae05.json
saves/New World (5)/session.lock
saves/New World (6)/session.lock
saves/New World (7)/session.lock
saves/New World (8)/session.lock
saves/New World (9)/session.lock
logs/crafttweaker.log
logs/debug.log
logs/latest.log
logs/kubejs/client.txt
logs/kubejs/server.txt
logs/kubejs/startup.txt
logs/crafttweaker.log
logs/debug.log
logs/latest.log
logs/kubejs/client.txt
logs/kubejs/server.txt
logs/kubejs/startup.txt
logs/*
logs/crafttweaker.log
logs/debug.log
logs/latest.log
logs/kubejs/client.txt
logs/kubejs/server.txt
logs/kubejs/startup.txt
